.main {
  background-color: #fff;

  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 64px;

    @include on-tablet {
      padding-block: 120px;
    }

    @include on-desktop {
      padding-block: 128px;
    }
  }
}
